.st0 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #67DBFF;
}

.st1 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #01A3FF;
}

.st2 {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #0162FF;
    transform-origin: top;
}